/* Фуллскрин-баннер: фиксируем высоту каждого слоя карусели */
.banner-full { height: calc(100vh - var(--header-h) - var(--footer-h)); }
.banner-full .carousel,
.banner-full .carousel-inner,
.banner-full .carousel-item { height: 100%; }
.banner-full .banner-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
/* Отключаем масштабирование изображений, чтобы избежать визуальных искажений при перелистывании */
.banner-full .carousel-item .banner-img {
	transform: none !important;
	transition: none !important;
}


